body {
    font-family: Arial, sans-serif;
}

.info {
    background-color: #eee;
    border: thin solid #333;
    border-radius: 3px;
    padding: 0 5px;
    text-align: center;
}

/*.video-js {*/
    /*margin: 40px auto;*/
/*}*/